    ---
    layout: post
    title: Introduction to Pandas 3
    excerpt:
    categories: blog
    tags: ["Python", "Data Science", "Pandas"]
    published: true
    comments: true
    share: true
    ---

Hello all, I am back with another of my notes on Pandas. Today our focus will be grouping, merging and reshaping our data with Pandas. Modifiying data is very fundamental when it comes to data analysis and other core subjects requiring data cleaning. 

## Grouping of Data

The ```groupby``` operation can be thought of as part of a process that involves the following 3 steps:

- Splitting the dataset
- Analyzing the data
- Aggregating or combining the data


The ```groupby``` won't really work with Series since they are 1D object. However can be performed to obtain distinct rows of the Series. 

Dataset we will use taken from [Chris Albon's Web Notes](http://chrisalbon.com/)

In [2]:
import pandas as pd
import numpy as np

In [7]:
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
df = pd.DataFrame(raw_data, columns = ['regiment', 'company', 'name', 'preTestScore', 'postTestScore'])
df.head()

     regiment company      name  preTestScore  postTestScore
0  Nighthawks     1st    Miller             4             25
1  Nighthawks     1st  Jacobson            24             94
2  Nighthawks     2nd       Ali            31             57
3  Nighthawks     2nd    Milner             2             62
4    Dragoons     1st     Cooze             3             70

Let's apply  ```groupby``` to the DataFrame and see what is the type of the result:

In [9]:
companyGrp = df.groupby('company')
type(companyGrp)

pandas.core.groupby.DataFrameGroupBy

In [11]:
# We can see the groups and the indexes accordingly
companyGrp.groups

{'1st': [0, 1, 4, 5, 8, 9], '2nd': [2, 3, 6, 7, 10, 11]}

In [15]:
# Returns the length of the number of groups
len(companyGrp.groups)

2

In [17]:
# Prints the full sizes of the elements of groups
companyGrp.size()

company
1st    6
2nd    6
dtype: int64

In [22]:
companyGrp.sort()

TypeError: 'bool' object is not callable